<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show Searches</title>
</head>
<body>
  <h3>Book API Search Results</h3>
  <ul>
    <% searchResults.forEach(item => { %>
      <li><%= item.image %></li>
      <li><%= item.title %></li>
      <li><%= item.author %></li>
      <li><%= item.description %></li>
    <% }) %>
  </ul>
</body>
</html>
<!--time stamp 2:43pm for constructor function--> 