<header>
  <div>
    <a href="/">
      <h1>My Personal Library</h1>
    </a>
  </div>
  <nav>
    <div class="icon-menu"></div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="./searches/new">Discover Books</a></li>
    </ul>
  </nav>
</header>