<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Collection</title>
  <link rel="stylesheet" href="/public/styles.css/reset.css">
  <link rel="stylesheet" href="/public/styles.css/icons.css">
  <link rel="stylesheet" href="/public/styles.css/base.css">
  <link rel="stylesheet" href="/public/styles.css/layout.css">
  <link rel="stylesheet" href="/public/styles.css/modules/error.css">
  <link rel="stylesheet" href="/public/styles.css/modules/partials/header.css">
  <link rel="stylesheet" href="/public/styles.css/modules/partials/footer.css">
  <link rel="icon" type="image/png" href="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png">
  <link rel="stylesheet" href="/public/styles.css/modules/searches/show.css">
  <link rel="stylesheet" href="/public/styles.css/modules/searches/new.css">
</head>
<body>
  <header>
    <div>
      <a href="/">
        <h1>Best Books!</h1>
      </a>
    </div>
    <nav>
      <div class="icon-menu"></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./searches/new">Search Books</a></li>
      </ul>
    </nav>
  </header>